/* Site Header
 * ============================================== */
.site-header {
  background-color: #F5F5F5;
  position: relative;
  width: 100%;
  display: flex;
}

.site-header a {color: $brand-color};

.site-nav {
  float: right;
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;

  .menu-icon {
    display: none;
  }

  .page-link {
    font-weight: 700 !important;
    line-height: $base-line-height;
    letter-spacing: 0.05em;
    display: block;
    padding: 16px 2px;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &:hover {
      opacity: 0.8
    };
  }
}

/* Site Footer
 * ============================================== */
.footer {
  padding-bottom: 3em;
  margin: auto;
  font-size: 12px;
  color: #959595;
}

.footer.center {
  text-align: center;
}

.footer.center > * {
  margin: 0 auto;
}

.footer img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 3px;
}

/* Individual Posts
 * ============================================== */
.page-content {
  padding: $spacing-unit 0;
  text-align: justify;
}

.page-heading {
  font-size: 20px;
  padding-top: 2px;
}

/* Archive
 * ============================================== */
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: block;
    padding: 0.1em 1.5em;
  }

}

.post-link {
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: -1px;
  color: #454545;
  display: block;
  width: 100%;

  @include media-query($on-palm) {
    font-size: 1.33em;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-light;
  text-transform: uppercase;
  display: inline-block;
}

/* Post Format
 * ============================================== */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
}


.home-img img {
  width: 50%;
  margin: 15px auto;
  display: block;
}

.copyleft {
  transform: rotateY(180deg);
  display: inline-block;
}
